apiVersion: v1
kind: Service
metadata:
  name: coturn
  namespace: delonix-meet
  labels: { app: coturn }
spec:
  type: LoadBalancer
{% if coturn_vip | length > 0 %}
  loadBalancerIP: "{{ coturn_vip }}"
{% endif %}
  externalTrafficPolicy: Cluster
  selector: { app: coturn }
  ports:
    - { name: turn-udp, port: 3478, targetPort: 3478, protocol: UDP }
