# Credenciais do Postgres do meet-stack. Copiar para meet-db.secrets.env
# (ignorado pelo git) e substituir os CHANGE_ME.  openssl rand -hex 24
POSTGRES_USER=delonix
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=delonix_meet
